<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020. All rights reserved .
  ~ This code developed by Vijay Gupta for learning purpose only.
  ~ Certification: Spring Framework Certification Training
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="beanLifeCycleXML" class="com.vijay.learn.spring.core.beanlifecycle.BeanLifeCycleXML" init-method="init" destroy-method="destroy" />
    <bean id="beanLifeCycleInterface" class="com.vijay.learn.spring.core.beanlifecycle.BeanLifeCycleInterface" />
    <bean id="beanLifeCycleAnnotations" class="com.vijay.learn.spring.core.beanlifecycle.BeanLifeCycleAnnotations"/>
</beans>
